button {
	border: none;
	background-color: #e3c1ca;
	font-size: 1.5rem;
	color: black;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0.5rem;
	outline: none;
}

button:hover {
	background-color: #d3c1e3;
}

.equals {
	grid-column: 3 / 5;
	background-color: #c1cae3;
}

.equals:hover {
	background-color: #a5b4df;
}
